body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
h1 span{
     color: orange;
}
 p{
    justify-content: center;
    line-height: 30px;
}
.top-banner{
   display: flex;
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
   margin-bottom: 150px;
}
.half-width{
    width: 50%; 
    padding-left: 5%;
}
.anchore-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}
.half-width img{
    width: 85%;
    margin: 2%;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.flexible-container{
    display: flex;
}
.experience h1 span{
    color: purple;
    width: 100%;
    padding-left: 4%;
}
h2{
    font-size: 35px;
}

.flexible-container .experience-item h3{
    color: orange;
}
.experience-item{
    box-shadow: 10px 10px 50px gray;
    width: 45%;
    margin-left: 4%;
    margin-right: 1%;
    padding: 1%;
    
}

